/* Toast container */
.toast-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    max-width: 90%;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    z-index: 9999;
    opacity: 0;
    animation: slideInOut 3s forwards;
  }
  
  /* Success / error colors */
  .toast-message.success {
    background-color: #28a745; /* green */
  }
  
  .toast-message.error {
    background-color: #dc3545; /* red */
  }
  
  /* Slide in and fade out animation */
  @keyframes slideInOut {
    0% {
      transform: translateX(-50%) translateY(-50px);
      opacity: 0;
    }
    10% {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
    }
    90% {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50px);
      opacity: 0;
    }
  }
  

  .search-container{
    background: transparent;
    color: #fafafa;
    margin: .8rem 0;
  }